html{
  margin:0;
  padding:0;
}


.App {
  padding-top:2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  padding: 1em 11.3em;
  background-color: violet;
  color: rgba(34, 27, 27, 0.8);
  margin-bottom: 0;
}